body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

#uploadForm {
    margin-bottom: 20px;
}

#loadingIndicator {
    display: none;
    color: blue;
}

#result {
    display: none;
}

#compressedImage {
    max-width: 100%;
}
